/* Page and canvas container*/
#main {
    width: 1085px;
}

#canavas {
    border:1px solid;
    float:right;
}

/* Toolbar */
#toolbar {
    float:left;
    width:78px;
    height:600px;
}

#toolbar button {
    padding:1px;
    margin-bottom:4px;
    width:36px;
    height:36px;
    background-color:lightgray;
    background-repeat:no-repeat;
    background-position:center;
}

/* Up panel */
#uppanel {
   margin:10px;
   margin-left:84px;
}

#uppanel button {
   font-family:Verdana;
   font-size:16px;
   height:30px;
}

/* Blue and green button colors */
.bluebtn {
   color:#ffffff;
   background-color:#227ed5;
}

.greenbtn {
   color:#ffffff;
   background-color:#7eb309;
}

/* Clear inner button padding for FF, reserved for focusing */
button::-moz-focus-inner {
   padding:0;
   border:0;
}
